* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height:100%;
}

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

p, h1 {
  padding: 0 8px;
}

p > strong {
  color: hsl(160, 100%,  30%);
}

h2.indented-heading {
  background-color: hsl(45, 100%, 50%);
  border-bottom: 8px solid hsl(45, 100%, 40%);
  padding: 16px 32px;
  margin-left: -24px;
  width: fit-content;
  margin-top: -8px;
}

header {
  height: 250px;
}

.intro-chunk {
  padding: 8px 16px;
}

main {
  background-color: hsl(0, 0%, 60%);
  border-top: 8px solid hsl(0, 0%, 40%);
  height:450px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-bottom: 8px solid hsl(0, 0%, 40%);
  padding: 16px 16px;
  margin-top: 64px;
  margin-bottom:64px;
}
